main {
    padding: 20px 60px;
    text-align: center;
    margin-top: 70px;
  }
  
  article {
    margin-bottom: 0px;
  }
  
  article h2 {
    margin-top: 55px;
  }

  /* Media Queries */
@media only screen and (max-width: 568px) {
  main {
    height: auto;
    padding: 20px 30px;
  }
  article h2 {
    font-size: 1.6rem;
}
}
main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

article {
  flex: 1 1 30%;
  margin: 0 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 4px solid #ddd;
}

.info {
  padding: 15px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.info span {
  font-weight: bold;
}

.content {
  padding: 20px;
  color: #000;
}
h4{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  }
p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  article {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}