{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberMaze - Learn Cyber Security Through Real-Time Simulations</title>
    <link rel="stylesheet" href="{% static '/assets/css/contact.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="index.js"></script>
    <!-- Google Font embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/images/CM Logo 2.png' %}" type="image/png">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static '/assets/images/CM Logo 2.png' %}" alt="Logo Image">
            <h1>CyberMaze</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/domains">Domains</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <a href="#register" class="btn">Log In</a>
        <!-- HTML for the hamburger menu -->
        <button class="hamburger-menu-btn">&#9776;
            <nav class="nav-links">
            <!-- Your navigation links here -->
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </nav>
    </nav>


    <h1 style="margin-top: 65px;">Cryptography Beginner Maze <hr> <br> Level 1: <span>The XOR Cipher Challenge!</span></h1>
    <p>In this exciting level, you will step into the shoes of a modern-day cryptographer. Your mission, should you choose to accept it, involves decrypting a secret message using the XOR cipher. Get ready to unleash your inner codebreaker and embark on a journey full of puzzles and cryptic clues.</p>
    
    <h3>Introduction:</h3>
    <p>Anna is a girl, and you know some personal details about her:</p> <br>
    <table>
        <tr>
            <td><strong>| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pet Name</strong></td>
            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Fluffy</span></td> 
        </tr>
        <tr>
            <td><strong>| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birthday</strong></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>15 March</span></td>
        </tr>
        <tr>
            <td><strong>| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Family Members</strong></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>John, Mary</span></td>
        </tr>
    </table>
    <br>
    <p>It is possible that Anna has used a combination of these keywords to encrypt a message. Your task is to try different combinations to discover the encryption key.</p>

    <h3>Cipher:</h3>
    <p><strong>Encryption Method:</strong> XOR Cipher</p>

    <h3>Encrypted Message:</h3>
    <p><strong>Message (Hex):</strong> 2b0910124614541507185502070e5f1b</p>

    <h3>Objective:</h3>
    <p>Your objective is to learn about the XOR cipher, explore some useful Python libraries, and write an automated Python script to decrypt the given message. By completing this challenge, you will enhance your understanding of basic cryptographic techniques and improve your Python programming skills.</p>

    <h3>Prerequisites:</h3>
    <ul>
        <li>Basic knowledge of Python programming</li>
        <li>Understanding of ciphers and basic cryptographic techniques</li>
    </ul>

    <h3>Assignment:</h3>
    <ol>
        <li><strong>Understand the XOR Cipher</strong>: Learn how the XOR cipher works and how it can be used for encryption and decryption.</li>
        <li><strong>Generate Key Combinations</strong>: Write a Python script to generate all possible combinations of Anna's personal details to use as keys.</li>
        <li><strong>Decrypt the Message</strong>: Use the generated keys to attempt decrypting the encrypted message.</li>
        <li><strong>Automate the Process</strong>: Create an automated script that tries all combinations and identifies the correct decryption key and message.</li>
    </ol>
    <br>
    <hr> <br>
    <button style="width: fit-content; background-color: yellowgreen; color: black;" onclick="showHint()">
         Show Hint </button>
         <i onclick="showHint()" style="color: yellow;" class="fas fa-lightbulb"></i>
    <p id="hintMessage"></p>

    <h3>Task: Your Answer</h3>
    <form id="task1Form">
      <label for="task1Answer">Write the <span>decrypted message</span> that was encrypted using the XOR cipher?</label>
      <input type="text" id="task1Answer" name="task1Answer">
      <button type="button" onclick="submitTask1()">Submit</button>
      <span id="task1Result"></span>
    </form>
    <br>
    <br>
    <form id="task2Form">
        <label for="task2Answer">What is the <span>key</span> that anna used to encrypt her message?</label>
        <input type="text" id="task2Answer" name="task2Answer">
        <button type="button" onclick="submitTask2()">Submit</button>
        <span id="task2Result"></span>
      </form>

      <br>
      <button onclick="startMachine()">Start Machine</button>
      <br>


      <div id="mazeCompletion" style="display: none;">
        <h3>Level completed!</h3>
        <button style="width: fit-content;" onclick="goToNextMaze()"> Go to Next Level</button>
    </div>
    <br>
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 CyberMaze. All rights reserved.</p>
        </div>
    </footer>

    <script>
        function submitTask1() {
            var answer = document.getElementById('task1Answer').value;
            if (answer.toLowerCase() === 'meet me at dawn') {
                document.getElementById('task1Result').textContent = 'Solved';
                document.getElementById('task1Result').dataset.solved = 'true';
            } else {
                document.getElementById('task1Result').textContent = 'Try again';
                document.getElementById('task1Result').dataset.solved = 'false';
            }
            checkMazeCompletion();
        }
    
        function submitTask2() {
            var answer = document.getElementById('task2Answer').value;
            if (answer.toLowerCase() === 'fluffy15') {
                document.getElementById('task2Result').textContent = 'Solved';
                document.getElementById('task2Result').dataset.solved = 'true';
            } else {
                document.getElementById('task2Result').textContent = 'Try again';
                document.getElementById('task2Result').dataset.solved = 'false';
            }
            checkMazeCompletion();
        }
    
        function checkMazeCompletion() {
            var task1Solved = document.getElementById('task1Result').dataset.solved === 'true';
            var task2Solved = document.getElementById('task2Result').dataset.solved === 'true';
    
            if (task1Solved && task2Solved) {
                document.getElementById('mazeCompletion').style.display = 'block';
            }
        }

    function goToNextMaze() {
        window.location.href = 'crypt2'; 
    }

    function showHint() {
            document.getElementById('hintMessage').textContent = '     ||     Anna adores the cute and loyal companion in her life.     ||     ';
        }

</script>
 
</body>
</html>
