{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberMaze - Learn Cyber Security Through Real-Time Simulations</title>
    <link rel="stylesheet" href="{% static '/assets/css/about.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/domain.css' %}">
    <script src="index.js"></script>
    <!-- Google Font embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/images/CM Logo 2.png' %}" type="image/png">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static '/assets/images/CM Logo 2.png' %}" alt="Logo Image">
            <h1>CyberMaze</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/domains">Domains</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <a href="/login" class="btn">Log In</a>
        <!-- HTML for the hamburger menu -->
        <button class="hamburger-menu-btn">&#9776;
            <nav class="nav-links">
            <!-- Your navigation links here -->
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </nav>

    </nav>
    
    <!-- About Section -->
    <section id="about" class="about" >
        <div class="container">
            <h2>Cloud Security</h2>
                <div class="level-list">
                    <h2 style="color: aqua;">Level 1</h2>
                    <br>
                    <h3>Cloud Recon!</h3>
                    <br>
                    <a href="/cloud-recon">
                        <button class="btns enter-maze">
                            Start Level
                        </button>
                    </a>
                </div>
        
                <!-- Second Div -->
                <div class="level-list" >
                    <h2 style="color: aqua;">Level 2</h2>
                    <br>
                    <h3>Trail of Troubles!</h3>
                    <br>
                    <a href="/trailoftroubles">
                        <button class="btns enter-maze">
                            Start Level
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 CyberMaze. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>