{% extends 'base.html' %}
{% block title %}Cloud Security{% endblock %}
{% load static %}
{% block content %}


    <h1 style="margin-top: 65px;">AWS level 2 - Analyze the Logs! <hr> <br> <span>TRAIL OF TROUBLES</span></h1>
    <p>An attacker has infiltrated your AWS environment and left behind a trail of suspicious activity. Your mission: analyze the logs, uncover their tactics, and retrieve the hidden flag to secure your cloud.</p>
    
 
    <h3>Prerequisites</h3>
    <ul>
        <li>Basic knowledge of AWS CloudTrail logs.</li>
        <li>Familiarity with JSON file structures.</li>
        <li>Skills in spotting suspicious activities like unauthorized access or unusual IP addresses.</li>
    </ul>

    <h3>Tools Used</h3>
    <ul>
        <li>AWS Management Console: For deploying and managing AWS resources.</li>
        <li>CloudTrail: To monitor and audit AWS account activity .</li>
    </ul>

    <h3>LOGS OVERVIEW</h3>
    <p>The logs show regular operations like listing buckets and updating permissions. But wait! There's an unexpected twist—a rogue IP address appears, performing unauthorized API calls. The flag is hidden within one of these malicious activities. Look closely where permissions are updated or access policies are tampered with.</p>

    <div class="download-box">
        <h3>Download the YAML File</h3>
        <p>
            Click the button below to download the <strong>cloudtrail.yaml</strong> file:
        </p>
        <a href="{% static 'cloud-trail.json' %}" download class="download-button">Download YAML File</a>
    </div>
    
    <h3>Submit your flag</h3>
    <form id="task1Form">
      
      <input type="text" id="task1Answer" name="task1Answer">
      <button type="button" onclick="submitTask1()">Submit</button>
      <span id="task1Result"></span>
    </form>
    <br>
    
    <div id="mazeCompletion">
        <h3>Level UP!</h3>
        <button style="width: fit-content;"><a href="/levelList3">View Other Levels</a></button>
    </div>
    {%endblock%}

    {% block script %}
        function submitTask1() {
            var answer = document.getElementById('task1Answer').value;
            if (answer.toLowerCase() === 'flag{unauth0r!zed_accezs_detecte3!}') {
                document.getElementById('task1Result').textContent = 'Solved';
        updateScore(true); 
                document.getElementById('task1Result').dataset.solved = 'true';
            } else {
                document.getElementById('task1Result').textContent = 'Try again';
        updateScore(false); 
                document.getElementById('task1Result').dataset.solved = 'false';
            }
            checkMazeCompletion();
        }
    
        
        function checkMazeCompletion() {
            var task1Solved = document.getElementById('task1Result').dataset.solved === 'true';
    
            if (task1Solved) {
                document.getElementById('mazeCompletion').style.display = 'block';
            }
        }

    function goToNextMaze() {
        window.location.href = '/level1'; 
    }


    {% endblock %}