{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberMaze - Learn Cyber Security Through Real-Time Simulations</title>
    <link rel="stylesheet" href="{% static '/assets/css/contact.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="index.js"></script>
    <!-- Google Font embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/images/CM Logo 2.png' %}" type="image/png">
</head>

<body style="padding: 20px;">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static '/assets/images/CM Logo 2.png' %}" alt="Logo Image">
            <h1>CyberMaze</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/domains">Domains</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <a href="#register" class="btn">Log In</a>
        <!-- HTML for the hamburger menu -->
        <button class="hamburger-menu-btn">&#9776;
            <nav class="nav-links">
            <!-- Your navigation links here -->
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </nav>
    </nav>


    <h1 style="margin-top: 65px;">AWS level 2 - Analyze the Logs! <hr> <br> <span>TRAIL OF TROUBLES</span></h1>
    <p>An attacker has infiltrated your AWS environment and left behind a trail of suspicious activity. Your mission: analyze the logs, uncover their tactics, and retrieve the hidden flag to secure your cloud.</p>
    
 
    <h3>Prerequisites</h3>
    <ul>
        <li>Basic knowledge of AWS CloudTrail logs.</li>
        <li>Familiarity with JSON file structures.</li>
        <li>Skills in spotting suspicious activities like unauthorized access or unusual IP addresses.</li>
    </ul>

    <h3>Tools Used</h3>
    <ul>
        <li>AWS Management Console: For deploying and managing AWS resources.</li>
        <li>CloudTrail: To monitor and audit AWS account activity .</li>
    </ul>

    <h3>LOGS OVERVIEW</h3>
    <p>The logs show regular operations like listing buckets and updating permissions. But wait! There's an unexpected twist—a rogue IP address appears, performing unauthorized API calls. The flag is hidden within one of these malicious activities. Look closely where permissions are updated or access policies are tampered with.</p>

    <h3>Download the YAML File</h3>
    <p>
        Click the link below to download the <strong>cloudtrail.yaml</strong> file:
        <a href="templates/cloudtrail.yaml" download>cloudtrail.yaml</a>
    </p>
    
    <h3>Submit your flag</h3>
    <form id="task1Form">
      
      <input type="text" id="task1Answer" name="task1Answer">
      <button type="button" onclick="submitTask1()">Submit</button>
      <span id="task1Result"></span>
    </form>
    <br>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 CyberMaze. All rights reserved.</p>
        </div>
    </footer>

    <script>
        function submitTask1() {
            var answer = document.getElementById('task1Answer').value;
            if (answer.toLowerCase() === 'flag{unauth0r!zed_accezs_detecte3!}') {
                document.getElementById('task1Result').textContent = 'Solved';
                document.getElementById('task1Result').dataset.solved = 'true';
            } else {
                document.getElementById('task1Result').textContent = 'Try again';
                document.getElementById('task1Result').dataset.solved = 'false';
            }
            checkMazeCompletion();
        }
    
        
        function checkMazeCompletion() {
            var task1Solved = document.getElementById('task1Result').dataset.solved === 'true';
    
            if (task1Solved) {
                document.getElementById('mazeCompletion').style.display = 'block';
            }
        }

    function goToNextMaze() {
        window.location.href = '/level1'; 
    }


</script>


</body>
</html>
